*
{
    margin : 90 px;
    font-family :Arial, Helvetica, sans-serif;
    border: border-box;
}
div{
    margin-right: 30px;
}
.navbar
{
    height : 60px;
    background-color: black ;
    display:flex;
    
}
.nav-logo
{
    height:60px;
    width:60px;
}
.logo
{
    background-image: url("collab.jpg");
    height:60px;
    width:60px;
    background-size: cover;

}
.border
{
    border : 2px solid blue;
}
.border:hover{
    border : 2px solid blue;
}

.nav-search{
    padding:15px;
    display:flex;
}

.search
{
width:300px;

}
.city{
    padding:22px;
}
.city-options
{
width : 100px;
}
.search-button
{
    background-color:darkorchid;
    color:azure;
}
.heart
{
    background-image: url(c.jpg);
    padding:5px;
   padding-bottom:40px;
    height:10px;
    width: 53px;
    background-size:cover;
    margin-left: 400px;
}
.settings-logo
{
    background-image: url(settingsf.jpg);
    
    height:25px;
    width:25px;
    padding:10px;
    
}
.details
{
    background-color: black;
    margin-top: 400px;
    color:white;
    display:flex;
    height:300px;
    
}
p{
    margin: 50px;
    
}